.image_wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -33.26deg,
    rgba(11, 29, 38, 0%) 0%,
    rgba(11, 29, 38, 0.6) 100%
  );
  z-index: 2;
}
.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 62%);
  z-index: 1;
}
.heroSection > * {
  position: relative;
  z-index: 3;
}
.image_wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 6;
}

.image_wrapper {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.brandNametext {
  fill: transparent;
  background: linear-gradient(to top, #000 -50%, #fff 110%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parallax-section {
  background-image: url("/public/images/heroFullbg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 180vh;
}
.heroSection {
  background-image: url("/images/heroFullbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.animate-scroll {
  display: flex;
  animation: scroll 25s linear infinite;
  width: max-content;
}
.animateright-scroll {
  display: flex;
  animation: rightscroll 25s linear infinite;
  width: max-content;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes rightscroll {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.container {
  margin: 0 10rem;
}

.slider1 .circle-slide {
  width: 60vh; /* full width */
  height: 60vh;
  padding: 0 2% 0 10%;
  background-color: #cdcdcd;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  z-index: 5;
  transition: background-color 0.3s ease;
}
.slider1 .swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; /* Ensure slides are above the background */
}
.slider1 .swiper-slide-active .circle-slide {
  background-color: #edc5a0; /* blue background only for active slide */
  transform: scale(1.01);
}
.slider1 .swiper-slide-active {
  z-index: 10;
}
.slider1 .swiper-slide-active:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.slider2 .circle-slide {
  width: 60vh; /* full width */
  height: 60vh;
  padding: 0 2% 0 10%;
  background-color: #cdcdcd;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  z-index: 5;
  transition: background-color 0.3s ease;
}
.slider2 .swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; /* Ensure slides are above the background */
}
.slider2 .swiper-slide-active .circle-slide {
  background-color: #aecbfa; /* blue background only for active slide */
  transform: scale(1.01);
}
.slider2 .swiper-slide-active {
  z-index: 10;
}
.slider2 .swiper-slide-active:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.slider3 .circle-slide {
  width: 60vh; /* full width */
  height: 60vh;
  padding: 0 4% 0 12%;
  background-color: #cdcdcd;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  z-index: 5;
  transition: background-color 0.3s ease;
}
.slider3 .swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; /* Ensure slides are above the background */
}
.slider3 .swiper-slide-active .circle-slide {
  background-color: #bdd4a2; /* blue background only for active slide */
  transform: scale(1.01);
}
.slider3 .swiper-slide-active {
  z-index: 10;
}
.slider3 .swiper-slide-active:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* .mobileSlider .swiper-slide {
  width: 312px !important;
} */

.footerSection {
  background-image: url("/images/Footerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footerSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); /* adjust opacity as needed */
  z-index: 1;
}

.slider1 .swiper-slide {
  height: 70vh !important;
  width: 60vh !important;
}
.slider2 .swiper-slide {
  height: 70vh !important;
  width: 60vh !important;
}
.slider3 .swiper-slide {
  height: 70vh !important;
  width: 60vh !important;
}

.affectedSlider .swiper-pagination-fraction,
.affectedSlider .swiper-pagination-custom,
.affectedSlider .swiper-horizontal > .swiper-pagination-bullets,
.affectedSlider .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 5rem) !important;
}

.affectedSlider
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet,
.affectedSlider
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2.5rem) !important;
}

.affectedSlider .swiper-pagination-bullet {
  background: var(
    --swiper-pagination-bullet-inactive-color,
    #a842424d
  ) !important;
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 15px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 15px)
  ) !important;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.affectedSlider .swiper-pagination-bullet-active {
  background: var(
    --swiper-pagination-bullet-inactive-color,
    #ff7171
  ) !important;
  border-radius: var(--swiper-pagination-bullet-border-radius, 60px) !important;
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 45px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 15px)
  ) !important;
}

.paginationTemp .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 15px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 15px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #c7d9d9);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

.paginationTemp .swiper-pagination-bullet-active {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 4.5rem)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 1.5rem)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 60px);
  background: var(--swiper-pagination-bullet-active-color, #2b6f71);
}

.paginationTemp .swiper-pagination-bullet {
  margin: 0 2rem !important;
}

.dialSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: transparent;
  color: black;
  will-change: transform, opacity, filter;
  transition: transform 0.6s ease;
  perspective: 1000px;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #d0d0d0;
  border-radius: 9999px;
  margin: 0 1px;
  transition: all 0.3s ease-out;
  transform-origin: center;
  will-change: transform, background;
}

.swiper-pagination-bullet-active {
  background: #525299;
}
.paginationTemporary .swiper-pagination-fraction,
.paginationTemporary .swiper-pagination-custom,
.paginationTemporary .swiper-horizontal > .swiper-pagination-bullets,
.paginationTemporary .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 5rem) !important;
}

.paginationTemporary
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet,
.paginationTemporary
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2.5rem) !important;
}

.paginationTemporary .swiper-pagination-bullet {
  background: var(
    --swiper-pagination-bullet-inactive-color,
    #a842424d
  ) !important;
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 15px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 15px)
  ) !important;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.paginationTemporary .swiper-pagination-bullet-active {
  background: var(
    --swiper-pagination-bullet-inactive-color,
    #ff7171
  ) !important;
  border-radius: var(--swiper-pagination-bullet-border-radius, 60px) !important;
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 45px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 15px)
  ) !important;
}

.affectedSlider .swiper-slide {
  justify-content: start !important;
}

.swiper-3d .swiper-wrapper {
  transform: translateX(0) !important;
}
