.music-height{
    height: 5rem;
    width: 5rem;
    padding: 0% 1.5rem !important;
}

.music-height>div {
    height: 2rem;
    width: 2rem;
}
@media screen and (max-width: 900px) {
       .music-height {
        height: 4rem;
        width: 4rem;
        padding: 0% 1rem !important;
    }
    .music-height>div {
        height: 1.5rem;
        width: 1.5rem;
    }
    
}
@media screen and (max-width: 600px) {
       .music-height {
        height: 3.5rem;
        width: 3.5rem;
        padding: 0% 0.rem !important;
    }
    .music-height>div {
        height: 1.25rem;
        width: 1.25rem;
    }
    
}
@media screen and (max-width: 400px) {
       .music-height {
        height: 3rem;
        width: 3rem;
        padding: 0% 0.7rem !important;
    }
   
        .music-height {
        height: 3.5rem;
        width: 3.5rem;
    }
    
}