.hero-para {
    color: #FFF;
    text-align: center;
    font-family: "Albert Sans";
    font-size: 40px;
    font-style: normal;
}

.problem-heading {
    font-size: 58px;
    line-height: 73px;
    font-weight: 400 !important;

}

.hero-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
}

.hero-bottom {
    font-size: 48px;
    font-weight: 400;
    line-height: 150%;
}

.char {

    font-weight: 400 !important;
}

.word {
    font-weight: 400 !important;
}

.problem-span {
    font-weight: 300;
    font-size: 58px;
    line-height: 73px;
}

.custom-size {
    color: #FFF;
    text-align: center;
    font-family: "Albert Sans";
    font-size: 118px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFFFFF;
}

.scroll-text {
    color: #EBEBEB;
    text-align: center;
    font-family: "Albert Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.people {

    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.slide-text {
    color: #f0f0f0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}

@media screen and (max-width: 900px) {
    .hero-para {
        font-size: 6vw;
        line-height: 8vw;
    }

    

    .small-margin {
        margin-top: 20vw;

    }

    .problem-heading {
        font-size: 6vw;
        line-height: 8vw;
    }

    .problem-span {
        font-size: 6vw;
        line-height: 8vw;
    }

    .custom-size {
        font-size: 12vw;
        line-height: normal;
    }

    .scroll-text {
        font-size: 3vw;
        line-height: 5vw;
    }

    .hero-bottom {
        font-size: 6vw;
        line-height: 8vw;
    }

    .people {
        font-size: 6vw;
        line-height: 8vw;
    }

    .logo-hero {
        left: 6vw;
        top: 6vw;
    }

}

@media screen and (max-width: 760px) {
    .hero-para {
        font-size: 5vw;
        line-height: 7vw;
    }

    .animate-bounce svg {
        width: 10vw;
        height: 16vw;
    }

    .problem-heading {
        font-size: 5vw;
        line-height: 7vw;
    }

    .para {
        font-size: 5vw;
        line-height: 7vw;
    }

    .problem-span {
        font-size: 5vw;
        line-height: 7vw;
    }

    .custom-size {
        font-size: 10vw;
        line-height: normal;
    }

    .scroll-text {
        font-size: 3vw;
        line-height: 4vw;
    }

    .hero-bottom {
        font-size: 5vw;
        line-height: 7vw;
    }

    .people {
        font-size: 5vw;
        line-height: 7vw;
    }

}

@media screen and (max-width: 600px) {
    .hero-para {
        font-size: 5vw;
        line-height: 6vw;
    }

    .problem-heading {
        font-size: 4vw;
        line-height: 6vw;
    }

    .problem-span {
        font-size: 4vw;
        line-height: 6vw;
    }

    .custom-size {
        font-size: 8vw;
        line-height: normal;
    }

    .scroll-text {
        font-size: 3vw;
        line-height: 2.5vw;
    }

    .hero-bottom {
        font-size: 4vw;
        line-height: 6vw;
    }

    .people {
        font-size: 4vw;
        line-height: 6vw;
    }
}

@media screen and (max-width: 400px) {
    .hero-para {
        font-size: 4.5vw;
        line-height: 1.5vw;
    }

    .custom-size {
        font-size: 11vw;
    }

    .problem-span {
        font-size: 3.5vw;
        line-height: 5.5vw;
    }

    .custom-size {
        font-size: 7vw;
        line-height: normal;
    }

    .scroll-text {
        font-size: 3vw;
        line-height: 3vw;
    }

    .hero-bottom {
        font-size: 3.5vw;
        line-height: 5.5vw;
    }

    .people {
        font-size: 3.5vw;
        line-height: 5.5vw;
    }

}

@media screen and (max-width: 320px) {
    .hero-para {
        font-size: 7vw;
        line-height: 8vw;
    }

    .problem-heading {
        font-size: 3vw;
        line-height: 5vw;
    }

    .problem-span {
        font-size: 3vw;
        line-height: 5vw;
    }

    .custom-size {
        font-size: 6vw;
        line-height: normal;
    }

    .scroll-text {
        font-size: 3.8vw;
        line-height: 4.8vw;
    }

    .logo-hero {
        left: 4vw;
        top: 4vw;
        width: 13vw;
        height: 13vw;

    }

    .hero-bottom {
        font-size: 3vw;
        line-height: 5vw;
    }

    .people {
        font-size: 3vw;
        line-height: 5vw;
    }
}